@import "tailwindcss";

@theme inline {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}

* {
  font-family: "Outfit", sans-serif;
}
/* Hide horizontal scrollbar but keep scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE / Edge */
  scrollbar-width: none;     /* Firefox */
}
.no-scrollbar::-webkit-scrollbar{
  display: none;
}


